<nav class="navbar fixed-top navbar-expand-lg navbar-dark">
  <div class="container">
    <a class="navbar-brand" rel="author" href="{{ "/" | relative_url }}"><img src="/assets/img/ncs-logo.svg"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul id="navigation" class="navbar-nav ml-auto scrollto">
        <li class="nav-item">
          <a class="nav-link" href="#about">FAQs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://sites.google.com/nocopyrightsounds.co.uk/ncs/faq-usage-policy" target="_blank">Types of Content</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://ncs.fanfiber.com/" target="_blank">I Received A Claim/Strike</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="s">Commercial License</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
    
  </div>
</nav>
